@media (min-width: 640px) { body {font-size:1em;} }
@media (min-width:960px) { body {font-size:1.2em;} }
@media (min-width:1100px) { body {font-size:1.5em;} }

/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .logo{
       width: 50%;
       height: 50%;
    }
}

img, video {
    width: 100%;
    height: auto;
    }

* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

body *{
    font-family: "Franklin Gothic Book";
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

body{
    background-color: #e0e0e0;
    margin: 0px;
}


h1,h2{
    font-family: "Cooper Black";
}

p{
    max-width: 700px;
    justify-content: center;
}

header{
    padding-top: 5em;
}

header>h1{
    width: 100%;
}

header>p{
    padding: 2em;
}

/* .logo{
    width: 20em;
} */

.imagenjuego>img{
    width: 100%;
    scale: 110%;
}

.juegotarjeta{
    display: flex;
    flex-direction: column;
}

.juegotarjeta a>img{
    width: 10em;
}
/* .nombrejuego{
    position: absolute;
} */

#projecto-flork{
    pointer-events: none;
}
#projecto-flork img{
    filter: grayscale(100%) blur(5px);
}

/* pointer-events: none; */
.juegoscontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto 4rem;
    justify-content: center;
}

.cuadro-shadow{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.tarjeta{
    display: flex;
    height: 8em;
    width: 8em;
    /* justify-content: center; */
    align-items: center;
    /* border-radius: 50%; */
    overflow: hidden;
    margin: 1em;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 400ms;
    flex-direction: column-reverse;
}
.tarjeta:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 25px #d3d3d3,
                 -20px -20px 25px #ededed;
}

.tarjeta img:hover{
    filter: grayscale(0%);
    opacity: 80%;
    scale: 115%;
}

.contenedor-imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 400ms;
  }
  
  .contenedor-imagen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Esto es opcional */
  .contenedor-imagen:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  }

 section#fundadores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
 }

/* Background styles */
#fundadores {

    gap: 20px;
    padding: 5em;

    /* background: rgb(177,18,47);
    background: linear-gradient(0deg, rgba(177,18,47,1) 0%, rgba(187,64,61,1) 5%, rgba(203,132,82,1) 6%, rgba(175,143,101,1) 10%, rgba(63,186,178,1) 11%, rgba(90,188,163,1) 15%, rgba(212,196,93,1) 16%, rgba(255,255,255,0) 100%); */
    
}

/* Glassmorphism card effect */
.card {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgba(0, 0, 0, 0.642); */
    /* height: 20em; */
    /* padding-top: 12px; */
    /* padding-bottom: 40px; */
}

.card span{
    text-shadow: 0px 3px 6px white;
    color: black;
}

/* Generated by https://generator.ui.glass/ */

footer{
    /* background: rgb(212,196,93);
    background: linear-gradient(180deg, rgba(212,196,93,1) 0%, rgba(255,255,255,0) 100%); */
    background: rgb(177,18,47);
    background: linear-gradient(0deg, rgba(177,18,47,1) 0%, rgba(187,64,61,1) 5%, rgba(203,132,82,1) 6%, rgba(175,143,101,1) 10%, rgba(63,186,178,1) 11%, rgba(90,188,163,1) 15%, rgba(212,196,93,1) 16%, rgba(255,255,255,0) 100%);
    font-size: medium;

    padding-bottom: 1em;
    padding-left: 10em;
    padding-right: 10em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
